$main-color: #5f2ded;
$secondary-color: #f2277e;
$sub-color: #5f6c76;
$footer-color: #9fa2ce;
$footer-sub-color: #c9c1c1;
$footer-bg-color: #0c0e2b;
$background-color: #170f2f;
$secondary-background-color: #f3f4fd;
$tag-color: #e7deff;
$contact-bg: #f5f5fe;
